@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500i,600|Open+Sans:300,400|Playfair+Display:400,700');

*{
	margin: 0px;
	padding: 0px;
}

body{
	margin-left: 0px;
	font-size: 1em;
}

p{
	font-family: 'Open Sans', serif;
	margin: 10px;
	font-size: 1em;

}

div{ 
	background-image: linear-gradient(rgba(0, 0, 0, 0.35),#0000002e), url(https://images.pexels.com/photos/5938/food-salad-healthy-lunch.jpg);
	background-color: #aec5ea;
	background-size: cover;
	background-position: bottom-left
	width: 100%;
  	height: 800px;
  	padding-right: 50px;
  	padding-left: 50px;
  	margin: 0px;
}

h1{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 70px;
	text-align: center;
	color: #fff;
	margin-top: 0px;
	padding-top: 80px;
}

#slogan{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300px
	font-size: 35px;
	text-align: center;
	color: #fff;
}

h2{
	font-family: 'Playfair Display', serif;
	font-weight: 700px;
	font-size: 50px;

}

h3, h4, h5{
	font-family: 'Playfair Display', serif;
	font-weight: 400px;
	margin: 20px, 0;
	margin-bottom: 10px;
}


header{
	background: #65acdb;
	background-size: cover;
	width: 100%;
	height: 30px;
	margin-top: 0px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-right: 50px;
	padding-left: 50px;
	text-align: center;

}

a{
	text-align: center;
	color: #578fb2;
	text-decoration: none;
	border-bottom: 1px;
	padding: 2px;
}

nav a{
	color: #fff;
	text-align center;
	font-family: 'Playfair Display', serif;
	font-size: 1.25em;
	margin: 5px;
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 50px;
	text-decoration: none;

}

#featured{
	background-image: url("../images/antique.jpg");
	font-family: 'Playfair Display', serif;
	font-weight: 400px;

}

#recipes{
	background-image: url("../images/recipes.jpg");
	font-family: 'Playfair Display', serif;
	font-weight: 400px;
}

#reviews{
	background-image: url("../images/blog.jpg");
	font-family: 'Playfair Display', serif;
	font-weight: 400px;
}


#travel{
	background-image: url("../images/travel.jpg");
	font-family: 'Playfair Display', serif;
	font-weight: 400px;
}

#pesto{
	width: 30em;
	font-family: 'Playfair Display', serif;
	font-weight: 400px;
}

ul, ol{
	padding-left: 20px;
	margin-left: 20px;
	margin-bottom: 30px;
}

aside{
	float: right;
}

.blogs{
	font-family: 'Open Sans', sans-serif;
	font-size: 2.5em;
	text-align: justify;
	color: #000;
	width: 30em;
}

footer{
	background-color: #f2f2f2;
	padding-top: 20px;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: 400px;
	margin-top: 30px;

}