header{
	background: "images/home.JPG";
	background-size: cover;
	padding: 20px;
}

a{}

nav a{
	color: #000;
}

h1{
	text-transform: uppercase;
	text-align: center;
	color: #000000;
	font-family: "Times New Roman";
}

hr{
	width: 30px;
}