div{
	background: url(https://breidigaml.github.io/unit_3/images/dc.JPG)  alt="Welcome to Dairy Free Girl in DC" " title="Welcome";
	background-size: cover;
	margin-bottom: 100px;
	width: 100%;
  	height: 100%;
}

h1{
	text-transform: uppercase;
	text-align: center;
	color: #000;
	font-family: "Times New Roman";
}

hr{
	width: 100px
	color: #000;

}

#slogan{
	font-family: "Times New Roman";
	font-size: 16px;
	text-align: center;
	color: #000;
}

header{
	background: #65acdb;
	background-size: cover;
}

a{}

nav a{
	color: #fff
	text-align center;

}




